:root{
    --nav: #ce9f65;
    --main: #f9dfa4;
    --side: #e8c07a;
    --border: black;
    --card-top: #a37d4e;
    --card-wid: 320px;
    --card-high: 400px;
}

body{
    background: white;
}

img{

    height: auto;
}

.home_container{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.topics_component{
    background: var(--side);
    border-radius: 10px;
    border: 1px solid blue;
    padding: 10px;
    margin: 10px;
}

.feed_component{
    background: var(--main);
    border-radius: 10px;
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
}

.activity_component{
    background: var(--side);
    border-radius: 10px;
    border: 1px solid green;
    padding: 10px;
    margin: 10px;
}
.navbar{
    top: 10px;
    display: flex;
    background: var(--nav);
    border-radius: 20px;
    border: 1px solid orange;
    padding: 10px 20px;
    align-items: center;
    position: sticky;
    z-index: 1000;
}

.nav_user{
    align-items: center;
    display: flex;
}

.search_bar{
    border-radius: 100px;
    border: 1px dotted blue;
    padding: 5px;
}

.search_form{
    border-radius: 50px;

}

.post_card_top{
    top: 0;
    position: absolute;
    background: var(--card-top);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transform-origin: 0;
}

.post_card{
    background: rgba(255, 255, 255,0.5);
    border-radius: 20px;
    border: 2px solid var(--border);
    margin: 10px;
    width: var(--card-wid);
    height: var(--card-high);
    position: relative;
    perspective: 2000px;
}

.post_card_top_image_box{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    margin: 5px auto;

}

.post_card_top_image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.post_card:hover .post_card_top {
    transition: all 1s;
    transform: rotateY(-100deg);
}
.post_view_imagebox{
    width: 90%;
    height: 180px;
    margin-left: 5%;
}
.post_image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 5px auto;
    border: 3px solid red;
}


button{
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.left_sidebar{
    border: 3px solid #3d2b1a ;
}

.left_sidebar_item{
    border: 3px solid #fdf3e3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.book_image {
    width: 300px;
    height: 400px;
    box-shadow: 0px 0px 120px 50px #edaf45;
    border-radius: 20px;
}

.bookclub_control_links{}

.profile_infos{
    background: #fdf3e3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile_infos p{
    background: var(--card-top);
    border-radius: 40px;
    padding: 10px;
}

.profile_infos h1{
    color: brown;
    font-size: 60px;
}

.profile_imagebox{
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_image{
    border-radius: 100%;
}

a{
    color: #fdf3e3;
    border-radius: 20px;
    background-color: #b8924e;
    padding: 4px;
    margin: 4px;
}

.book_design{
    width: 520px;
    height: 760px;
    display: grid;
    /*gap: 10px;*/
    background-color: #b8924e;
    color: #775b39;
    font-size: 20px;
    border-radius: 4px;
    padding: 20px;
}

.form_info{
    background: none;
    border: none;
    border-radius: 40px;
    /*padding: 8px 30px 8px 12px;*/
    font-family: ui-monospace;
    font-size: 30px;
}

.form_select{
    appearance: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 20px;
    padding: 8px 30px 8px 12px;
    border: 2px solid peru;
}

.form_select:hover{
    border: 2px solid #3d2b1a;
}

.form_select option{
    color: #edaf45;
    font-style: italic;
}

.page{
    width: 600px;
    height: 800px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 4px;
}
.page1{
    width: 590px;
    height: 800px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 4px;
}
.page2{
    width: 580px;
    height: 800px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 4px;
}
.page3{
    width: 570px;
    height: 800px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 4px;
}
.page4{
    width: 560px;
    height: 800px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 4px;
}

@media (max-width: 900px) {
    .home_container{
        grid-template-columns: 1fr;
    }

}

