:root{
    --nav: #ce9f65;
    --main: #f9dfa4;
    --side: #e8c07a;
    --border: black;
    --card-top: brown;
    --card-wid: 320px;
    --card-high: 400px;
}

body{
    background: white;
}

img{
    width: 100px;
    height: 100px;
}

.home_container{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.topics_component{
    background: var(--side);
    border-radius: 10px;
    border: 1px solid blue;
    padding: 10px;
    margin: 10px;
}

.feed_component{
    background: var(--main);
    border-radius: 10px;
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
}

.activity_component{
    background: var(--side);
    border-radius: 10px;
    border: 1px solid green;
    padding: 10px;
    margin: 10px;
}
.navbar{
    display: flex;
    background: var(--nav);
    border-radius: 30px;
    border: 1px solid orange;
    padding: 10px;
    align-items: center;
}

.nav_user{
    align-items: center;
    display: flex;
}

.search_bar{
    border-radius: 100px;
    border: 1px dotted blue;
    padding: 5px;
}

.search_form{
    border-radius: 50px;

}

.post_card_top{
    top: 0;
    position: absolute;
    background: var(--card-top);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.post_card{
    border-radius: 10px;
    border: 2px solid var(--border);
    margin: 10px;
    width: var(--card-wid);
    height: var(--card-high);
    position: relative;
    perspective: 2000px;
}

post_card_image_box{
    width: 90%;
    height: 50%;
    border-radius: 10px;
    margin: auto;
}

.post_card_top_image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: auto;
}


