        <div class="feed_component">
            <a href="{% url 'create-Post' %}">Create Post</a>
            {% for post in posts %}
            <div class="post_card">
            
                <div class="post_control">
                    {% if request.user == post.author.user %}
                        <a href="{% url 'delete-Post' post.id %}">delete post</a>
                        <a  href="{% url 'update-Post' post.id %}">update post</a>
                    {% endif %}
                </div>
                <div class="post_view">
                    <div class="post_view_imagebox">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post_image">
                        {% endif %}
                    </div>
                    <h2>{{ post.id }} -- <a href="{% url 'post' post.id %}">{{ post.title }}</a></h2>
                    <p>{{ post.content|truncatechars:210 }}</p>
                    <small>by {{ post.author }} on {{ post.date_posted }} ago</small>
                </div>
                <div class="post_card_top">
                    <div class="post_card_top_image_box">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post_card_top_image">
                        {% endif %}
                    </div>
                    <div class="post_card_top_book">{{ post.Book|slice:":5" }}</div>
                    <div class="post_card_top_summary">
                        {{ post.content|truncatechars:210 }}
                        <div class="post_card_top_author">By <span class="post_card_top_name">{{ post.author|slice:":2" }}</span> {{ post.date_posted|timesince }}</div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>