        <div class="feed_component">
            <div style="display: flex; justify-content: center; align-items: center;">
                <a href="{% url 'create-Post' %}">Create Post</a>
            </div>
            {% for post in posts %}
            <div class="post_card">
            
                <div class="post_control">
                    {% if request.user == post.author.user %}
                        <a  href="{% url 'delete-Post' post.id %}">delete post</a>
                        <a  href="{% url 'update-Post' post.id %}">update post</a>
                    {% endif %}
                </div>
                <div class="post_view">
{#                    <div class="post_view_imagebox">#}
{#                        {% if post.image %}#}
{#                            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post_image">#}
{#                        {% endif %}#}
{#                    </div>#}
                    <h2 style="margin-left: 10px;">{{ post.id }} -- <a href="{% url 'post' post.id %}">{{ post.title }}</a></h2>
                    <p class="post_content">{{ post.content }}</p>
                    <small style="margin-left:10px; ">by {{ post.author }} on {{ post.date_posted }} ago</small>
                </div>
                <div class="post_card_top">
                    <div class="post_card_top_image_box">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post_card_top_image">
                        {% endif %}
                    </div>
                    <div style="margin-left:10px;" class="post_card_top_book">{{ post.Book|slice:":5" }}</div>
                    <div style="margin-left:10px;" class="post_card_top_summary">
{#                        {{ post.content|truncatechars:210 }}#}
                        <div class="post_card_top_author">By <span class="post_card_top_name">{{ post.author|slice:":2" }}</span> {{ post.date_posted|timesince }}</div>
                    </div>
                    <a href="{% url 'toggle-like' post.id %}" class="like_btn {% if post.id in liked_posts %}active{% endif %}">
                        <svg class="like_icon" viewBox="0 0 24 24">
                            <path d="M20 8h-5.612l1.123-3.367c.202-.608.1-1.282-.275-1.802S14.253 2 13.612 2H12c-.297 0-.578.132-.769.36L6.531 8H4c-1.103 0-2 .897-2 2v9c0 1.103.897 2 2 2h13.307a2.01 2.01 0 0 0 1.873-1.298l2.757-7.351A1 1 0 0 0 22 12v-2c0-1.103-.897-2-2-2zM4 10h2v9H4v-9zm16 1.819L17.307 19H8V9.362L12.468 4h1.146l-1.562 4.683A.998.998 0 0 0 13 10h7v1.819z" />
                        </svg>
                        <span class="like_count">{{ post.postlike_set.count }}</span>
                    </a>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>