{% extends 'main.html' %}

{% load socialaccount %}
{% block content %}
<div>

{% if page == 'login' %}
<div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <label>Username: </label>
        <input type="text" name="username" placeholder="Username" placeholder="Enter Username" required>

        <label>Password: </label>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
    <p>No account yet?</p>
    <a href="{% url 'register' %}">Register</a>
</div>

{% else %}
<div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">

    </form>
    <p>Already signed up?</p>
    <a href="{% url 'login' %}">login</a>
</div>
{% endif %}

    <h1>Login Options</h1>
    <a href="{% provider_login_url 'google' %}">Sign in with Google</a>

</div>

{% endblock %}