<nav class="navbar">
    <div class="logo"><a href="{% url 'home' %}">OpenPage</a></div>
    <div>
        <form method="get" action="{% url 'home' %}">
            <input type="text" name="q" placeholder="Search...">
        </form>
    </div>
    <div>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'profile' 1 %}">Profile</a>
    </div>
    <div>
        {% if request.user.is_authenticated %}
            <p>Hello {{ request.user }}</p>
            <ul><a href="{% url 'profile' user.id %}">view profile</a> </ul>
            <a href="{% url 'logout' %}">logout</a>
        {% else %}
            <a href="{% url 'login' %}">login</a>
        {% endif %}
    </div>

</nav>
<hr>