{% extends 'main.html' %}

{% block content %}

    <h1>Book</h1>
    <div style="margin-bottom: 70px; display: flex; justify-content: center; align-items: center; " class="book_image_box">
        <img src="{{ book.image.url }}" class="book_image">
    </div>
    <hr>
    <div>

        <div  style="align-items: center">

            <div class="book_title"><h1>{{ book.title }}</h1></div>
            <div class="book_summary">{{ book.summary }}</div>
            <div class="book_author">Author: {{ book.author }}</div>
        </div>
    </div>
    <h2>This Book posts</h2>
    {% include 'feed_component.html' %}

{% endblock %}