{% extends 'main.html' %}

{% block content %}
<div class="bookclub_page">

    <div class="bookclub_head">
        <h1 >{{ bookclub.name }}</h1>

        <div class="bookclub_info">

            <h3>Hosted by: {{ bookclub.host }}</h3>
            <h3>{{ bookclub.members.count }} members</h3>
            <p>{{ bookclub.description }}</p>
        </div>

        <div class="bookclub_currentbook">
            <strong>Currently reading: {{ bookclub.current_book.title }}</strong>
            <small> by {{ bookclub.current_book.author }}</small>
        </div>
    </div>



    <div class="bookclub-chat">
        <div class="chat_header">
            Let's Chat
        </div>

        <div class="chat-messages">
            {% if chats %}

                <div class="messages_box">
                    {% for chat in chats %}

                        {% if request.user == chat.author.user %}
                            <div class="p_message you">
                                <div class="chat_message_header">{{ chat.author.user.username }} - {{ chat.date_written|timesince }}</div>
                                <div class="chat_message_body">{{ chat.content }}</div>
                            </div>

                        {% else %}
                            <div class="p_message not_you">
                                <div class="chat_message_header" style="font-size: 10px;">{{ chat.author.user.username }} - {{ chat.date_written|timesince }} ago</div>
                                <div class="chat_message_body">{{ chat.content }}</div>
                            </div>
                        {% endif %}



                    {% endfor %}
                </div>


            {% else %}
                <h3>No message yet. Start the conversation!</h3>
            {% endif %}
        </div>

        <div>
            {% if request.user.is_authenticated %}
                <form method="POST" action="" class="chat_input_area">
                    {% csrf_token %}
                    <input type="text" name="content" placeholder="Type your message about the book here" required>
                    <button type="submit">Send</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}