{% extends 'main.html' %}

{% block content %}
<div>
    <div>
        <h1>Post</h1>
        <div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>

        </div>
        <div>
            <h3>Comments</h3>
            <div>
                {% for comment in comments %}
                    <div>
                        {% if request.user == comment.author.user %}
                            <a href="{% url 'delete-comment' comment.id %}">Delete</a>
                        {% endif %}
                        <small>@{{ comment.author }} -- {{ comment.date_posted|timesince }}</small>
                        <p>{{ comment.content }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
            {% if request.user.is_authenticated %}
                <div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input type="text" name="content" placeholder="Comment..." required>
                        <button type="submit">Done</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

</div>



{% endblock %}