{% extends 'main.html' %}

{% block content %}
<div class="bookclub_page">

    <div>

        <div class="bookclub_head">
            <h1>{{ post.title }}</h1>
            <div class="bookclub_currentbook">
                <p>{{ post.content }}</p>
            </div>
        </div>

        <div class="bookclub_chat">
            <div class="chat_header">
                <h3>Comments</h3>
            </div>


            <div class="chat-messages">

                {% for comment in comments %}
                    <div class="p_message" >
                        {% if request.user == comment.author.user %}
                            <a href="{% url 'delete-comment' comment.id %}">Delete</a>
                        {% endif %}
                        <small>@{{ comment.author }} -- {{ comment.date_posted|timesince }} ago</small>
                        <p>{{ comment.content }}</p>

                    </div>
                {% endfor %}

            </div>

            {% if request.user.is_authenticated %}

                <div>
                    <form method="POST" action="" class="chat_input_area">
                        {% csrf_token %}
                        <input type="text" name="content" placeholder="Comment..." required>
                        <button type="submit">Done</button>
                    </form>
                </div>

            {% endif %}

        </div>

    </div>

</div>



{% endblock %}